@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 13%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 13%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 13%;
    --primary: 0 78% 56%;
    --primary-foreground: 0 0% 98%;
    --secondary: 337 68% 66%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 92%;
    --muted-foreground: 0 0% 45%;
    --accent: 337 68% 96%;
    --accent-foreground: 0 78% 56%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 78% 56%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 88%;
    --card: 0 0% 12%;
    --card-foreground: 0 0% 88%;
    --popover: 0 0% 12%;
    --popover-foreground: 0 0% 88%;
    --primary: 0 83% 63%;
    --primary-foreground: 0 0% 98%;
    --secondary: 337 75% 79%;
    --secondary-foreground: 0 0% 7%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 64%;
    --accent: 337 75% 15%;
    --accent-foreground: 0 83% 63%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 0 83% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}